<section id="about" class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="p-md-5 img img-2 d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/images/about-reduced.jpg);">
                    <a href="https://vimeo.com/45830194"
                        class="icon popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate fadeInUp ftco-animated">
                <div class="heading-section mb-4 mt-md-5">
                    <h1 class="big">About</h1>
                    <span class="subheading">About Us</span>
                    <h2 class="mb-4">A World Class Soapworks Company</h2>
                </div>
                <div class="pb-md-5">
                    <p>Organic and vegan lovers with a combination of creative maniacs! Name your skin type and we
                        shall provide you the solution.</p>
                </div>
            </div>
        </div>
    </div>
</section>