<section id="products" class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-2">
            <div class="col-md-6 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h1 class="big">Products</h1>
                <span class="subheading">Works</span>
                <h2 class="mb-4">Products</h2>
                <p>Choose from wide variety of prodcuts</p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-rose-mist-water-reduced.jpg" class="img-fluid"
                        alt="Heart soap by Mphlix">
                    <div class="text">
                        <span>Rose water</span>
                        <h3><a href="#">Rose Mist</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-rose-mist-water-reduced.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-soap-02-neem-oats-reduced.png" class="img-fluid"
                        alt="Brick soap by Mphlix">
                    <div class="text">
                        <span>Soap</span>
                        <h3><a href="#">Neem & Oats</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-soap-02-neem-oats-reduced.png"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-soap-09-poker-set-reduced.jpg" class="img-fluid"
                        alt="Poker soap by Mphlix">
                    <div class="text">
                        <span>Soap</span>
                        <h3><a href="#">Poker Set</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-soap-09-poker-set-reduced.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-soap-04-charcoal-royale-reduced.jpg" class="img-fluid"
                        alt="Flower soap by Mphlix">
                    <div class="text">
                        <span>Soap</span>
                        <h3><a href="#">Charcoal Royale</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-soap-04-charcoal-royale-reduced.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-lip-balm-coffee-scrub-reduced.jpg" class="img-fluid"
                        alt="Flower soap by Mphlix">
                    <div class="text">
                        <span>Lip Balm</span>
                        <h3><a href="#">Coffee Lip Scrub</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-lip-balm-coffee-scrub-reduced.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-soap-06-chandan.jpg" class="img-fluid"
                        alt="Ring soap by Mphlix">
                    <div class="text">
                        <span>Soap</span>
                        <h3><a href="project.html">Chandan ring</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-soap-06-chandan.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-soap-07-green-tea.jpg" class="img-fluid" alt="soap by Mphlix">
                    <div class="text">
                        <span>Soap</span>
                        <h3><a href="#">Green Tea</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-soap-07-green-tea.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="project">
                    <img src="assets/images/Soaps/mphlix-handwash-sanitizer-reduced.jpg" class="img-fluid"
                        alt="soap by Mphlix">
                    <div class="text">
                        <span>Handwash</span>
                        <h3><a href="#">Sanitizer</a></h3>
                    </div>
                    <a href="assets/images/Soaps/mphlix-handwash-sanitizer-reduced.jpg"
                        class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>