<!--To make a section look active, apply "active" after "media block-6 services" -->
<section class="services-section py-5 py-md-0 bg-light">
    <div class="container">
        <div class="row no-gutters d-flex">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-makeup"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Skin care</h3>
                        <p>Soaps and facewashes for all kinds of skin.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-flower"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Hair care</h3>
                        <p>Shampoos and hair washes for all kinds of tresses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-polish"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Gifting solutions</h3>
                        <p>Gift hampers for all occassions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-facial-treatment"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Body Treatment</h3>
                        <p>Premium bath salts and sauna collection.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>