<section id="team" class="ftco-section ftco-team">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h1 class="big">Skin experts</h1>
                <span class="subheading">Team = Family </span>
                <h2 class="mb-4">Soapy crew</h2>
                <p>We are not a team beause we work together, we are a team because we trust, care and respect each
                    other.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <swiper [config]="config">
                    <div class="swiper-wrapper">
                        <div *ngFor="let member of members" class="swiper-slide">
                            <div class="item">
                                <span class="team text-center">
                                    <a href="#">
                                        <div class="img" [ngClass]="member.cssClass"></div>
                                        <!-- <div class="img" style="background-image: url('../../../assets/images/Soapy crew/mphlix-member-bhavika-sabnani-reduced.jpg');"></div> -->
                                        <!-- <div [ngStyle]="{background: 'url(' + getUrl() + ')'}"></div> -->
                                        <!-- <div [ngStyle]="{'background-image': getUrl(), 'height':'40px', 'width':'40px'}"></div> -->
                                    </a>
                                    <h2>{{member.name}}</h2>
                                    <span class="position">{{member.position}}</span>
                                    <br />
                                    <ng-container *ngIf="member.socialMediaProfiles">
                                        <a class="social-media" *ngFor="let profile of member.socialMediaProfiles"
                                            [href]="getSocialMediaProfile(profile.name, profile.profileId)">
                                            <span class="crew-icons" [ngClass]="profile.cssClass"></span>
                                        </a>
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </swiper>
            </div>
        </div>
    </div>
</section>