<section id="team" class="ftco-section ftco-team">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h1 class="big">Skin experts</h1>
                <span class="subheading">Team = Family </span>
                <h2 class="mb-4">Soapy crew</h2>
                <p>We are not a team beause we work together, we are a team because we trust, care and respect each
                    other.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let member of members">
                        <div class="item">
                            <span class="team text-center">
                                <a href="#">
                                    <div class="img" [ngClass]="member.cssClass"></div>
                                </a>
                                <h2>{{member.name}}</h2>
                                <span class="position">{{member.position}}</span>
                                <br />
                                <ng-container *ngIf="member.socialMediaProfiles">
                                    <a class="social-media" *ngFor="let profile of member.socialMediaProfiles"
                                        [href]="getSocialMediaProfile(profile.name, profile.profileId)">
                                        <span class="crew-icons" [ngClass]="profile.cssClass"></span>
                                    </a>
                                </ng-container>
                            </span>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>