<form #theForm id="theForm" class="simform" autocomplete="off">
    <div class="simform-inner">
        <ol class="questions">
            <li *ngFor="let question of questions">
                <span><label>{{question.title}}</label></span>
                <ng-container *ngFor="let option of question.options">
                    <input id="weekly" name="weekly" type="checkbox" />
                    <label for="weekly">{{option.title}}</label>
                </ng-container>
            </li>
        </ol><!-- /questions -->
        <button class="submit" type="submit">Send answers</button>
        <div class="controls">
            <button class="next" (click)="next()"></button>
            <div class="progress"></div>
            <span class="number">
                <span class="number-current"></span>
                <span class="number-total"></span>
            </span>
            <span class="error-message"></span>
        </div><!-- / controls -->
    </div><!-- /simform-inner -->
    <span class="final-message"></span>
</form><!-- /simform -->