<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-10">
                    <div class="slider_text text-center justify-content-center">
                        <h3>Products for every skin type</h3>
                        <div class="">
                            <div class="row m-0 align-items-center">
                                <div class="col-xl-2 col-md-2 d-none d-sm-block"></div>
                                <div class="col-xl-7 col-md-7 search_form" style="background-color:white;">
                                    <div class="row">
                                        <div class="col-9">
                                            <input type="text" [(ngModel)]="currentSearchTerm"
                                                placeholder="What are you finding?" (keyup.enter)="submitSearch()"
                                                class="form-control search-input">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-info" type="submit"
                                                (click)="submitSearch()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quality">
                            <ul>
                                <li *ngFor="let suggestion of suggestions;">
                                    <button (click)="searchForSuggested(suggestion)">{{suggestion}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->