.carousel-content {
    width: 100%;
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 991.98px) {
    .carousel-content {
      margin-bottom: 30px;
    }
  }
  
  .carousel-content .img {
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-content .img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #f18c8e;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .carousel-content h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  
.item {
    padding-top: 10px !important;
  }