<section id="services" class="ftco-section ftco-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-4">
        <div class="heading-section pr-5 pb-5 ftco-animate fadeInUp ftco-animated">
          <h1 class="big">Services</h1>
          <span class="subheading">Explore Our Services</span>
          <h2 class="mb-4 mt-3">Organic skin care prepared from hand-picked herbs</h2>
        </div>
        <div class="services-wrap ftco-animate mb-5 fadeInUp ftco-animated">
          <a href="#" class="img d-flex align-items-end"
            style="background-image: url(../../../assets/images/Services/service-skin-care-reduced.jpg);"
            alt="Skin care service">
            <div class="number">
              <h3>01</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Skin Care</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="services-wrap ftco-animate mt-3 fadeInUp ftco-animated">
          <a href="#" class="img d-flex align-items-end"
            style="background-image: url(../../../assets/images/Services/service-hair-care-reduced.jpg);"
            alt="Hair care service">
            <div class="number">
              <h3>02</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Hair Care</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-md-4">
        <div class="services-wrap ftco-animate mb-5 fadeInUp ftco-animated">
          <a href="#" class="img d-flex align-items-end"
            style="background-image: url('../../../assets/images/Services/service-gifting-solutions-reduced.jpg');"
            alt="Gifting solutions service">
            <div class="number">
              <h3>03</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Gifting Solutions</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="services-wrap ftco-animate mt-3 fadeInUp ftco-animated">
          <a href="#" class="img d-flex align-items-end"
            style="background-image: url(../../../assets/images/Services/service-spa-collection-reduced.jpg);"
            alt="Spa collection service">
            <div class="number">
              <h3>04</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Premium Spa Collection</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>