<div class="explorer_europe">
    <div class="container">
        <div class="explorer_wrap">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-4">
                    <span>{{products.length > 0 && "1"}}-13 out of {{products.length}}s results for soaps</span>
                </div>
            </div>
        </div>
        <div id="nav-tabContent">
            <div class="row">
                <div *ngFor="let item of filteredProducts" class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_explorer">
                        <div class="thumb">
                            <img [src]="item.ImagePath" alt="item.Name">
                        </div>
                        <div class="explorer_bottom d-flex">
                            <div class="icon">
                                <svg-icon name="grooming" [style]="{ height: '32px', width:'32px', fill: 'white' }">
                                </svg-icon>
                            </div>
                            <div class="explorer_info">
                                <h3><a href="single_listings.html">{{item.Name}}</a></h3>
                                <p>{{item.Description}}</p>
                                <ul>
                                    <li>
                                        <svg-icon name="phone_solid"
                                            [style]="{ height: '16px', width:'16px', fill:'#ff3100' }"></svg-icon>
                                        {{item.Price}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>