.container {
    user-select: none;
}

#quiz {
    height: 210px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: black;
}

.title {
    height:40%;
}

.options {
    height:60%;
    padding: 0 25%;
    display: flex;
    flex-direction: column;
}

.options div {
    flex: 1;
} 