<ng-container>
  <div class="row m-0" id="banner">
    <div class="col-12 col-lg-4 col-md-6" id="bannerText">
      <ng-container *ngIf="!showSkinTypeQuiz">
        <h1 class="mb-4 banner-heading">Skin Analysis</h1>
        <p class="mb-4 banner-subtitle">Welcome aboard to an array of organic soaps and skin products!</p>
        <div class="discover-button">
          <div class="row">
            <div class="col-md-6 col-6">
              <a id="discoverButton" class="btn btn-primary py-3" (click)="showSkinTypeQuiz = true;">Find your skin type</a>
            </div>
            <div class="col-md-6 col-6">
              <a id="discoverButton" href="/products" class="btn btn-primary py-3 px-3">Explore yourself</a>
            </div>
          </div>
        </div>
      </ng-container>
      <skin-type-quiz *ngIf="showSkinTypeQuiz" (backToMain)="showMainMenu()"></skin-type-quiz>
    </div>
    <div class="col-12 col-lg-7 col-md-6 carousel-container">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let image of Images">
          <img [src]="image.src" [attr.is-large]="image.isLarge">
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</ng-container>