<ng-container>
  <div class="row m-0" id="banner">
    <div class="col-12 col-lg-4" id="bannerText">
      <div class="">
        <h1 class="mb-4 banner-heading">Skin Analysis</h1>
        <p class="mb-4 banner-subtitle">Welcome aboard to an array of organic soaps and skin products!</p>
        <p class="discover-button"><a id="discoverButton" href="#" class="btn btn-primary py-3 px-4">Discover Now</a></p>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <carousel [isAnimated]="true" [interval]="myInterval" [noPause]="true" [showIndicators]="showIndicator">
        <slide *ngFor="let image of Images" [id]=image.id>
          <img [src]="image.src" [alt]="image.isLarge">
        </slide>
      </carousel>
    </div>
  </div>
</ng-container>