<section class="ftco-section ftco-no-pt ftco-booking">
    <div class="container-fluid px-0">
        <div class="row no-gutters d-md-flex justify-content-end">
            <div class="one-forth d-flex align-items-end">
                <div class="text">
                    <div class="overlay"></div>
                    <div class="appointment-wrap">
                        <span class="subheading">Reservation</span>
                        <h3 class="mb-2">Make an Appointment</h3>
                        <form action="#" class="appointment-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="appointment_name"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="appointment_email"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">Professional Makeup</option>
                                                <option value="">Manicure Pedicure</option>
                                                <option value="">Body Treatment</option>
                                                <option value="">Haircut Coloring</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control appointment_date" placeholder="Date">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control appointment_time" placeholder="Time">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Make an Appointment" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="one-third">
                <div class="img" style="background-image: url(images/bg-1.jpg);">
                </div>
            </div>
        </div>
    </div>
</section>