/* Crew members - start */

.crew-icons {
  font-size: x-large;
}

/* Crew members - end */

.social-media {
  padding-right: 10px;
}

.carousel-content.carousel-content-2 h2 {
  font-size: 24px !important;
}

.carousel-content .img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.carousel-content .position {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.carousel-content:hover, .carousel-content:focus {
  margin-top: -10px;
}

.carousel-content:hover .img:after, .carousel-content:focus .img:after {
  opacity: .8;
}


.carousel-content .bhavikaSabnani {
  background-image: url('../../../../../assets/images/Soapy crew/mphlix-member-bhavika-sabnani-reduced.jpg');
}

.carousel-content .mahashwetaMohapatra {
  background-image: url('../../../../../assets/images/Soapy crew/mphlix-member-mahashweta-mohapatra-reduced.jpg');
}

.carousel-content .aparajitaMohapatra {
  background-image: url('../../../../../assets/images/Soapy crew/mphlix-member-aparajita-mohapatra-reduced.jpg');
}

.carousel-content .anumKagdi {
  background-image: url('../../../../../assets/images/Soapy crew/mphlix-member-anum-kagdi-reduced.jpg');
}

.carousel-content .akshayRaut {
  background-image: url('../../../../../assets/images/Soapy crew/mphlix-member-akshay-raut-reduced.jpg');
}

/* This class is dynamically added to Ngx-Owl-Carousel-O based container */

/* Top padding helps view the circle of each member when it shifts up on hover */
