

  <section id="pricing" class="ftco-section ftco-pricing">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
          <h1 class="big">Pricing</h1>
          <span class="subheading">Pricing</span>
          <h2 class="mb-4">Our Prices</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 ftco-animate fadeInUp ftco-animated">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Skin Care</h3>
              <p><span class="price">&#8377;150.00</span> <span class="per">/ Soap bar</span></p>
            </div>
            <ul>
              <li>Acne</li>
              <li>Dry Skin</li>
              <li>Sensitive Skin</li>
              <li>Patchy Skin or Tan Removal</li>
              <li>Skin Moisturization</li>
            </ul>
            <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
          </div>
        </div>
        <div class="col-md-3 ftco-animate fadeInUp ftco-animated">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Hair Care</h3>
              <p><span class="price">&#8377;200</span> <span class="per">/ Bottle</span></p>
            </div>
            <ul>
              <li>Orange Shampoo</li>
              <li>French Clay</li>
              <li>Herbal</li>
              <li>Aloe-vera</li>
            </ul>
            <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
          </div>
        </div>
        <div class="col-md-3 ftco-animate fadeInUp ftco-animated">
          <div class="pricing-entry active pb-5 text-center">
            <div>
              <h3 class="mb-4">Gift Hampers</h3>
              <p><span class="price">&#8377;250</span> <span class="per">/ Box</span></p>
              <p>Any one combo:</p>
            </div>
            <ul>
              <li>4 Soaps </li>
              <li>Soaps &amp; Lip Balms Combo</li>
              <li>Soap, Lip balms &amp; Bath salt Combo</li>
              <li>Lip balms, Bath salt &amp; Liquid washes combo</li>
              <li>Liquid &amp; Soaps combo</li>
            </ul>
            <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
          </div>
        </div>
        <div class="col-md-3 ftco-animate fadeInUp ftco-animated">
          <div class="pricing-entry pb-5 text-center">
            <div>
              <h3 class="mb-4">Spa Collection</h3>
              <p><span class="price">&#8377;150</span> <span class="per">/ Pack</span></p>
            </div>
            <ul>
              <li>Exotic Body Washes</li>
              <li>Aromatic Bath salts</li>
              <li>Exotic Face Washes</li>
              <li>Lucious Lip Balms</li>
            </ul>
            <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>